.timeline {
  margin-top: 10%;
  height: 100vh;
  width: 100%;
  height: inherit;
}

.nullTimeLine {
  position: relative;
  top: 1%;
  left: 1%;
  width: 94%;
  box-shadow: 0px 0px 10px #888888;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding-left: 20px;
  padding: 10px;
}

.nullTimeLine h3 {
  margin: 0;
  padding-left: 15px;
}

.userTimeline h1 {
  position: relative;
}

.timeline h6 {
  margin: 10px;
  padding-left: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 80vh;
}

.inputComponents {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 47%;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: rgba(222, 228, 228, 0.902);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 15px #888888;
  z-index: 5;
}

.bar {
  overflow-y: scroll;
  width: 5%;
  border-radius: 20px;
  background-color: rgba(222, 228, 228, 0.902);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 15px #888888;
}

.userTimeline {
  width: 170%;
  border-radius: 20px;
  justify-content: space-between;
}

.userTimeline::-webkit-scrollbar {
  display: none;
}

.posts {
  position: relative;
  left: -4%;
  overflow: hidden;
  overflow-x: visible;
  overflow-y: scroll;
  z-index: 4;
  width: 50%;
}

.render {
  margin-top: 10%;
  margin-left: 10px;
}

.components {
  position: relative;
  /* left: -90px; */
}

@media only screen and (max-width: 375px) {
  .timeline {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .inputComponents {
    position: relative;
    top: 1%;
    left: 5%;
    width: 90%;
    background-color: none;
  }

  .userTimeline {
    width: 100%;
  }

  .posts {
    width: 90%;
    left: 0;
  }

  .render {
    width: 90%;
    margin-top: 0;
    margin-left: 5%;
    overflow-y: hidden;
  }

  .textPost {
    margin-left: 0;
  }

  .header {
    top: 5%;
  }

  .nullTimeLine {
    position: fixed;
    top: 15.5%;
    left: 3%;
    width: 92%;
    z-index: -1;
  }

  .header {
    width: 95%;
    left: 2.5%;
  }
}
