.articleCard a {
    text-decoration: none;
    color: black;
    margin: 0;
    margin-bottom: -3px;
    padding: 0;
}

.articleCard {
    /* position: relative;
    top: -10%; */
  width: 325px;
  height: 250px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* box-shadow: 20px 20px 60px #bdc2c2, -20px -20px 60px #ffffff; */
  border-radius: 25px;
  margin-bottom: 5%;
  margin: 2%;
}

.articleCard img {
    height: 150px;
    width: 300px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.articleHeadline {
    /* border: 1px solid black; */
    height: 70px;
    border-radius: 0px 0px 25px 25px;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 0px 0px 8px #888888;
}

.articleCard h3 {
    margin: 0;
    font-size: .85em;
    width: 100%;
}

.articleCard svg {
    margin: 0;
}
.articleCard button {
    position: relative;
    left: 85%;
    top: -40px;
    width: 30px;
    border: 0;
    background-color: transparent;
    z-index: 5;
}
