.news { 
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 95%;
    /* height: inherit; */
    box-shadow: 20px 20px 60px #bdc2c2, -20px -20px 60px #ffffff;
    border-radius: 50px;
}

.newsHeader {
    margin-left: 25px;

}

.newsHeader h3 {
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
}

.articleMap {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 25px;
    width: 90%;
    height: 100%;
}