.news { 
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 95%;
    box-shadow: 20px 20px 60px #bdc2c2, -20px -20px 60px #ffffff;
  border-radius: 50px;
}

.newsHeader {
    
}