.calendar { 
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 95%;
    box-shadow: 20px 20px 60px #bdc2c2, -20px -20px 60px #ffffff;
  border-radius: 50px;
}

.calHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid lightgrey;
}

.calHeader h3 {
    margin: 20px 20px 9px 10px;
}

.dates {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    width: 100%;
    align-items: center;
    margin-bottom: 5%;
}

.week1, .week2, .week3, .week4, .week5, .week6 {
    display: flex;
    margin-top: 1%;
    width: 80%;
    justify-content: space-around;
}

.calendar button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black;
    justify-self: center;
}

#weekdays button {
    border: none;
}

.previous button {
    position: relative;
    left: -185px;
    bottom: -125px;
}

.next button {
    position: relative;
    left: 185px;
    bottom: 80px;
}