header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
}

header img {
  zoom: 50%;
}

header button {
  background-color: #25283D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 90px;
  margin: 30px;
}

@media only screen and (max-width: 375px) {
  header img {
    width: 100%;
  }
}