.register {
  display: flex;
}

.register form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 40vw;
  top: 25vh;
  width: 30rem;
  height: fit-content;
  margin: auto;
  padding: 2%;
  border-radius: 20px;
  padding-top: 5rem;
  background-color: rgba(222, 228, 228, 0.9);
  backdrop-filter: blur(5px);
  z-index: 5;
  filter: drop-shadow(0px 50px 50px grey);
  box-shadow: inset 0px 0px 15px #888888;
}

.register h1 {
  padding-left: 10px;
}

.register input {
  margin: 4%;
  width: 300px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid grey;
}

.register button {
  align-self: center;
  background-color: #25283d;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 90px;
  margin: 30px;
}

.pfpRegisterUpload {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-bottom: 2%;
}

.profilePhotoUpload {
  width: 100rem;
  height: 100rem;
  z-index: 10;
  border: 1px solid red;
  cursor: pointer;
}

.pfpRegisterUpload img {
  position: relative;
  left: -14%;
  width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 40px;
  object-fit: cover;
}

.pfpRegisterUpload input {
  margin: 0;
  width: 50px;
  z-index: 10;
}

.nameRegisterInput input {
  position: relative;
  left: -4%;
  display: flex;
  margin-top: 20px;
}

.register form input {
  height: 1.5rem;
}

::placeholder {
  font-size: 1.25rem;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .register form {
    bottom: 0;
    /* top: 14rem; */
    left: 0;
    width: 98vw;
    height: 100vh;
    border-radius: 20px 20px 0px 0px;
    z-index: 20;
  }

  .nameRegisterInput {
  width: 100%;
}

.nameRegisterInput input {
  position: relative;
  left: -1%;
}

  .register input {
    width: 90%;
    background-color: grey;
    height: 30px;
    font-weight: 700;
  }
}
