.register form {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 43%;
  top: 8%;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 2%;
  border-radius: 20px;
  margin-top: 5vh;
  background-color: rgba(222, 228, 228, 0.9);
  backdrop-filter: blur(5px);
  z-index: 5;
  filter: drop-shadow(0px 50px 50px grey) 
}

.register h1 {
  padding-left: 10px;
}

.register input {
  margin: 4%;
  width: 300px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid grey;
}

.register button {
  align-self: center;
  background-color: #25283D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 90px;
  margin: 30px;
}

@media only screen and (max-width: 375px) {
  .register form {
    bottom: 0;
    top: 15vh;
    left: 0;
    width: 98vw;
    border-radius: 20px 20px 0px 0px;
  }

  .register input {
    width: 90%;
    background-color: grey;
    height: 30px;
    font-weight: 700;
  }
}