.linkInput {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
  border-top: .2px solid grey;
  width: 90%;
  height: 120px;
  margin-left: 20px;
  box-shadow: 0px 10px 10px #888888;
  background-color: rgba(204, 211, 211, 0.153);
  backdrop-filter: blur(5px);
}

.note input {
  width: 84%;
  height: 100px;
}

.linkInput input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10%;
  background-color: transparent;
  margin-top: 8px;
  padding-left: 10px;
  box-shadow: 0px 1px 2px #888888;
}

.inputHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputHead button {
  width: 8%;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 20px;
  background-color: transparent;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}


